    <div class="matchmaking-container">
        <h2 class="title">Búsqueda de partida</h2>
        <button class="btn" (click)="buscarPartida()">¡Unirme a la Batalla!</button>
    
        <div *ngIf="waitingMessage" class="message">
        {{ waitingMessage }}
        </div>
    
        <div *ngIf="matchFound" class="match-info">
        <p>¡Enhorabuena, has sido emparejado!</p>
        </div>
    <app-game *ngIf="matchFound" [gameId]="matchFound.gameId.toString()"></app-game>
    </div>
    