<header class="medieval-header">
    <div class="logo">
      <a routerLink="/">
        <img src="../../../assets/favicon.ico" alt="Medieval Logo">
      </a>
    </div>
    <nav class="nav-links">
      <a routerLink="/" class="nav-item">Inicio</a>
      <a routerLink="/jugar" class="nav-item">Jugar</a>
    </nav>
    <div class="user-actions">
      <button class="login-btn" *ngIf="!isLoggedIn" [routerLink]="'/login'">
        <img src="../../../assets/loginStratego.png" alt="Iniciar sesión" > Iniciar sesión
      </button>
      <button class="register-btn" *ngIf="!isLoggedIn" [routerLink]="'/register'">
        <img src="../../../assets/registro.png" alt="Registrarse" > Registrarse
      </button>
      <button class="login-btn" *ngIf="isLoggedIn" (click)="logout()">
        <img src="../../../assets/loginStratego.png" alt="Iniciar sesión" > Cerrar Sesión
      </button>
      <div *ngIf="isLoggedIn" class="user-avatar-container" [routerLink]="'/friendship'">
        <img *ngIf="userAvatar" [src]="userAvatar" alt="Avatar" class="user-avatar">
      </div>
    </div>
  </header>
  
