.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .not-playable {
    background-color: #a5c8e1; /* Color para lagos */
  }
  
  .piece {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .player1 {
    color: red;
  }
  
  .player2 {
    color: blue;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 1px;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
    margin: 20px auto;
  }
  
  .row {
    display: flex;
  }