  <div class="principal-container">
      <h1 class="game-title">Stratego</h1>
      <div class="game-info">
        <div class="game-description">
          <p>
            ¡Bienvenido a <strong>Stratego</strong>, el juego de estrategia medieval definitivo! En este
            emocionante desafío, deberás liderar tu ejército hacia la victoria mientras proteges tu bandera y
            desmantelas los planes enemigos.
          </p>
          <p>
            Prepárate para un enfrentamiento de astucia, planificación y un toque de misterio en el
            campo de batalla.
          </p>
        </div>
        <div class="game-images">
          <img src="../../../assets/tablero.png" alt="Tablero Stratego" class="game-image">
          <img src="../../../assets/piezas.png" alt="Piezas Stratego" class="game-image">
        </div>
      </div>
      <div class="game-rules">
          <h2>Reglas del Juego</h2>
          <ul>
            <li>Cada jugador tiene un ejército de piezas, cada una con un rango y habilidades únicas.</li>
            <li>El objetivo es capturar la bandera del oponente mientras proteges la tuya.</li>
            <li>Coloca tus piezas estratégicamente en tu lado del tablero para engañar y superar al enemigo.</li>
            <li>Algunas piezas pueden desactivar trampas (como el bombardero) o destruir piezas poderosas (como el espía).</li>
            <li>El juego termina cuando una bandera es capturada o un jugador no puede realizar más movimientos.</li>
          </ul>
          <a href="../../../assets/reglas.pdf" target="_blank" class="view-pdf-link">
            Ver reglas completas (PDF)
          </a>
          
        </div>
        